	/*Text에 밑줄 치는 CSS 효과*/
		.magicline:after{
			content: '';
			display: block;
			width: 0;
			height: 2.5px;
			background-color: #506763;
			transition: width .3s;
		}
		.magicline:hover:after{
			width: 100%;
		}
		
		/* Pannel 3D CSS effect*/
		.layer{
			box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19)
		}
		/* SNS Button animation CSS effects */
		div.middle{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.sns_btn{
			display: inline-block;
			width: 45px;
			height: 45px;
			background-color: #f1f1f1;
			margin: 0 10px;
			border-radius: 30%;
			box-shadow: 0 5px 15px -5px #00000070; 
			color: #298791;
			overflow: hidden;
			position: relative;
			text-align: center;
		}
		.sns_btn i{
			line-height: 45px;
			font-size: 20px;
			transition: 0.3s linear;
		}
		.sns_btn:hover i{
			transform: scale(1.3);
			color: white; 
		}
		.sns_btn::before{
			content: "";
			position: absolute;
			width: 120%;
			height: 120%;
			background-color: #298791;
			transform: rotate(45deg);
			left: -110%;
			top: 90%;
		}
		.sns_btn:hover::before{
			animation: car 1.2s 1;
			top: -10%;
			left: -10%;
		}
		@keyframes car{
			0%{
				left: -110%;
				top: 90%;
			}50%{
				left: 10%;
				top: -30%;
			}100%{
				top: -10%;
				left: -10%;
			}
		}
		/*네비게이션 Blur CSS 효과 */
		ul{
			margin: 0;
			padding: 15px 0;
			display: flex;
			flex-direction: column;
			width: 155px;
		}
		ul li{
			list-style: none;
			margin: 0 20px;
			transition: 0.5s;
		}
		ul li a{
			display: inline-block;
			position: relative;
			text-decoration: none;
			padding: 5px;
			font-size: 18px;
			font-family: sans-serif;
			color: #2f3138;
			text-transform: uppercase;
			transition: 0.5s;
		}
		ul:hover li a{
			transform: scale(1.5);
			opacity: .2;
			filter: blur(5px);
		}
		ul li a:hover{
			transform: scale(2);
			opacity: 1;
			filter: blur(0);
			color: white;
		}
		ul li a:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #756ACD;
			transition: transform .5s;
			transform: scaleX(0);
			z-index: -1;
		}
		ul li a:hover:before{
			transition: transform .5s;
			transform-origin: left;
			transform: scaleX(1);
		}